.fillbox {
  border: 1px solid blue;
  padding:0;
  margin:0;
  display: flex;
  flex-direction: row;
  height: 80vh;
  width: 80vw;
}
.grow {
  flex:1.0;
}
.hbox {
  border: 1px solid green;
  display: flex;
  flex-direction: row;
  /*align-items: flex-start;*/
}
.vbox {
  display: flex;
  flex-direction: column;
  border: 4px solid magenta;
  /*align-items: flex-start;*/
}
.stretch {
  align-items: stretch;
}
ul {
  border: 1px solid black;
  padding: 0;
}

.glyph-list {
  padding:0;
  margin:0;
  width: 15em;
}

.scroll {
  /*max-height: 500px;*/
  border: 1px solid green;
  max-height: 100%;
  overflow: auto;
}

li {
  display: flex;
  flex-direction: row;
  max-width: 20em;
}
li label:first-child {
  /*min-width: 4em;*/
  width: 3em;
}
li input {
  width: 3em;
}
input[type=number] {
  width: 3em;
}



.scroll {
  border: 3px solid red;
  overflow: scroll;
}

.grow {
  flex:1.0;
}

.export-area {
  min-height: 100px;
  min-width: 400px;
  max-width: 400px;
  max-height: 100px;
  border: 1px solid black;
}

.metrics-canvas {
  border: 1px solid green;
  /*min-height: 400px;*/
  /*min-width: 400px;*/
  max-width: 800px;
  /*max-width: 100%;*/
  max-height: 400px;
}

