.hbox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.vbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
ul {
  border: 1px solid black;

}

li {
  display: flex;
  width: 20em;
}
li label {
  width: 1.5em;
}
li input {
  width: 4em;
}


canvas {
  border: 1px solid black;
}


.scroll {
  border: 3px solid red;
  overflow: scroll;
}


.export-area {
  width: 100%;
}

.stretch {
  align-items: stretch;
}
